CLIENTE/web/WEB-INF/wsdl/192.168.56.101_8080/SERVIDOR/SERVICIO.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.com/">

<xs:element name="AddAdmins" type="tns:AddAdmins"/>

<xs:element name="AddAdminsResponse" type="tns:AddAdminsResponse"/>

<xs:element name="AddBus" type="tns:AddBus"/>

<xs:element name="AddBusResponse" type="tns:AddBusResponse"/>

<xs:element name="AddChofer" type="tns:AddChofer"/>

<xs:element name="AddChoferResponse" type="tns:AddChoferResponse"/>

<xs:element name="AddClave" type="tns:AddClave"/>

<xs:element name="AddClaveResponse" type="tns:AddClaveResponse"/>

<xs:element name="AddGeneral" type="tns:AddGeneral"/>

<xs:element name="AddGeneralResponse" type="tns:AddGeneralResponse"/>

<xs:element name="AddRuta" type="tns:AddRuta"/>

<xs:element name="AddRutaResponse" type="tns:AddRutaResponse"/>

<xs:element name="Asignacion" type="tns:Asignacion"/>

<xs:element name="AsignacionResponse" type="tns:AsignacionResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="Graficar" type="tns:Graficar"/>

<xs:element name="GraficarResponse" type="tns:GraficarResponse"/>

<xs:element name="Loguin" type="tns:Loguin"/>

<xs:element name="LoguinResponse" type="tns:LoguinResponse"/>

<xs:element name="ModificarAdmin" type="tns:ModificarAdmin"/>

<xs:element name="ModificarAdminResponse" type="tns:ModificarAdminResponse"/>

<xs:element name="ModificarBus" type="tns:ModificarBus"/>

<xs:element name="ModificarBusResponse" type="tns:ModificarBusResponse"/>

<xs:element name="ModificarChofer" type="tns:ModificarChofer"/>

<xs:element name="ModificarChoferResponse" type="tns:ModificarChoferResponse"/>

<xs:element name="ModificarClave" type="tns:ModificarClave"/>

<xs:element name="ModificarClaveResponse" type="tns:ModificarClaveResponse"/>

<xs:element name="ModificarGeneral" type="tns:ModificarGeneral"/>

<xs:element name="ModificarGeneralResponse" type="tns:ModificarGeneralResponse"/>

<xs:element name="ModificarRuta" type="tns:ModificarRuta"/>

<xs:element name="ModificarRutaResponse" type="tns:ModificarRutaResponse"/>

<xs:element name="TraerAdmins" type="tns:TraerAdmins"/>

<xs:element name="TraerAdminsResponse" type="tns:TraerAdminsResponse"/>

<xs:element name="TraerBuses" type="tns:TraerBuses"/>

<xs:element name="TraerBusesResponse" type="tns:TraerBusesResponse"/>

<xs:element name="TraerChoferes" type="tns:TraerChoferes"/>

<xs:element name="TraerChoferesResponse" type="tns:TraerChoferesResponse"/>

<xs:element name="TraerClaves" type="tns:TraerClaves"/>

<xs:element name="TraerClavesResponse" type="tns:TraerClavesResponse"/>

<xs:element name="TraerGenerales" type="tns:TraerGenerales"/>

<xs:element name="TraerGeneralesResponse" type="tns:TraerGeneralesResponse"/>

<xs:element name="TraerImagen" type="tns:TraerImagen"/>

<xs:element name="TraerImagenResponse" type="tns:TraerImagenResponse"/>

<xs:element name="TraerRutas" type="tns:TraerRutas"/>

<xs:element name="TraerRutasResponse" type="tns:TraerRutasResponse"/>

<xs:element name="getImage" type="tns:getImage"/>

<xs:element name="getImageResponse" type="tns:getImageResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="ModificarChofer">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="esta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarClave">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarRuta">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="esta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerChoferes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerChoferesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddAdmins">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddAdminsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerRutas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarAdmin">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddChofer">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerImagen">
<xs:sequence>
<xs:element name="tipoimg" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerImagenResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Loguin">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoguinResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Graficar">
<xs:sequence>
<xs:element name="grafica" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Asignacion">
<xs:sequence>
<xs:element name="linea" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImage">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerAdmins">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerAdminsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarGeneral">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddClave">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddBus">
<xs:sequence>
<xs:element name="numbus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerClaves">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerClavesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddGeneral">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraerGenerales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TraerGeneralesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarBus">
<xs:sequence>
<xs:element name="old" type="xs:string" minOccurs="0"/>
<xs:element name="idbus" type="xs:string" minOccurs="0"/>
<xs:element name="personas" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>