CLIENTE/src/conf/xml-resources/web-service-references/SERVICIO/wsdl/localhost_8080/SERVIDOR/SERVICIO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.com/" name="SERVICIO">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.com/" schemaLocation="http://localhost:8080/SERVIDOR/SERVICIO?xsd=1"/>
</xsd:schema>
</types>
<message name="AddBus">
<part name="parameters" element="tns:AddBus"/>
</message>
<message name="AddBusResponse">
<part name="parameters" element="tns:AddBusResponse"/>
</message>
<message name="Loguin">
<part name="parameters" element="tns:Loguin"/>
</message>
<message name="LoguinResponse">
<part name="parameters" element="tns:LoguinResponse"/>
</message>
<message name="AddRuta">
<part name="parameters" element="tns:AddRuta"/>
</message>
<message name="AddRutaResponse">
<part name="parameters" element="tns:AddRutaResponse"/>
</message>
<message name="AddClave">
<part name="parameters" element="tns:AddClave"/>
</message>
<message name="AddClaveResponse">
<part name="parameters" element="tns:AddClaveResponse"/>
</message>
<message name="AddChofer">
<part name="parameters" element="tns:AddChofer"/>
</message>
<message name="AddChoferResponse">
<part name="parameters" element="tns:AddChoferResponse"/>
</message>
<message name="TraerAdmins">
<part name="parameters" element="tns:TraerAdmins"/>
</message>
<message name="TraerAdminsResponse">
<part name="parameters" element="tns:TraerAdminsResponse"/>
</message>
<message name="TraerImagen">
<part name="parameters" element="tns:TraerImagen"/>
</message>
<message name="TraerImagenResponse">
<part name="parameters" element="tns:TraerImagenResponse"/>
</message>
<message name="AddGeneral">
<part name="parameters" element="tns:AddGeneral"/>
</message>
<message name="AddGeneralResponse">
<part name="parameters" element="tns:AddGeneralResponse"/>
</message>
<message name="AddAdmins">
<part name="parameters" element="tns:AddAdmins"/>
</message>
<message name="AddAdminsResponse">
<part name="parameters" element="tns:AddAdminsResponse"/>
</message>
<message name="getImage">
<part name="parameters" element="tns:getImage"/>
</message>
<message name="getImageResponse">
<part name="parameters" element="tns:getImageResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SERVICIO">
<operation name="AddBus">
<input wsam:Action="http://servicios.com/SERVICIO/AddBusRequest" message="tns:AddBus"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddBusResponse" message="tns:AddBusResponse"/>
</operation>
<operation name="Loguin">
<input wsam:Action="http://servicios.com/SERVICIO/LoguinRequest" message="tns:Loguin"/>
<output wsam:Action="http://servicios.com/SERVICIO/LoguinResponse" message="tns:LoguinResponse"/>
</operation>
<operation name="AddRuta">
<input wsam:Action="http://servicios.com/SERVICIO/AddRutaRequest" message="tns:AddRuta"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddRutaResponse" message="tns:AddRutaResponse"/>
</operation>
<operation name="AddClave">
<input wsam:Action="http://servicios.com/SERVICIO/AddClaveRequest" message="tns:AddClave"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddClaveResponse" message="tns:AddClaveResponse"/>
</operation>
<operation name="AddChofer">
<input wsam:Action="http://servicios.com/SERVICIO/AddChoferRequest" message="tns:AddChofer"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddChoferResponse" message="tns:AddChoferResponse"/>
</operation>
<operation name="TraerAdmins">
<input wsam:Action="http://servicios.com/SERVICIO/TraerAdminsRequest" message="tns:TraerAdmins"/>
<output wsam:Action="http://servicios.com/SERVICIO/TraerAdminsResponse" message="tns:TraerAdminsResponse"/>
</operation>
<operation name="TraerImagen">
<input wsam:Action="http://servicios.com/SERVICIO/TraerImagenRequest" message="tns:TraerImagen"/>
<output wsam:Action="http://servicios.com/SERVICIO/TraerImagenResponse" message="tns:TraerImagenResponse"/>
</operation>
<operation name="AddGeneral">
<input wsam:Action="http://servicios.com/SERVICIO/AddGeneralRequest" message="tns:AddGeneral"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddGeneralResponse" message="tns:AddGeneralResponse"/>
</operation>
<operation name="AddAdmins">
<input wsam:Action="http://servicios.com/SERVICIO/AddAdminsRequest" message="tns:AddAdmins"/>
<output wsam:Action="http://servicios.com/SERVICIO/AddAdminsResponse" message="tns:AddAdminsResponse"/>
</operation>
<operation name="getImage">
<input wsam:Action="http://servicios.com/SERVICIO/getImageRequest" message="tns:getImage"/>
<output wsam:Action="http://servicios.com/SERVICIO/getImageResponse" message="tns:getImageResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios.com/SERVICIO/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.com/SERVICIO/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SERVICIOPortBinding" type="tns:SERVICIO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Loguin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TraerAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TraerImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SERVICIO">
<port name="SERVICIOPort" binding="tns:SERVICIOPortBinding">
<soap:address location="http://localhost:8080/SERVIDOR/SERVICIO"/>
</port>
</service>
</definitions>